
//== Template Main Color
$color-white : #fff;
$color-main : #5ba600;

/*-----------------
    # Typography
-----------------*/
@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500,600,700,800display=swap");

/***transition***/
$transition: all .4s ease-in;
$transition-long: all .5s ease-in;
